<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <h1 class="logo">Quizcards</h1>

        <nav class="navbar">
            <div class="nav-left">
                <a href="#">Dashboard</a>
                <a href="#">My Decks</a>
                <a href="#">Progress</a>
            </div>

            <div class="nav-right">
                <span>{{ session['username'] }}</span>
                <a class="profile-btn" href="#">
                    👤
                </a>
            </div>
        </nav>
    </header>
    
    {% block content %}{% endblock %}

</body>
</html>