<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    {% block head %}{% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast-message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <header>
        <h1 class="logo"><b>Quizcards</b></h1>

        <nav class="navbar">
            <div class="nav-left">
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('decks') }}">My Decks</a>
                <a href="#">Progress</a>
            </div>

            <div class="nav-right">
                <span>{{ session['username'] }}</span>
                <a class="profile-btn" href="#">
                    👤
                </a>
            </div>
        </nav>
    </header>

    <script src="{{ url_for('static', filename='js/dashboard_base.js') }}" defer></script>
    {% block content %}{% endblock %}

</body>
</html>