{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="flashcard-features">
        <div class="flashcard-info features-column">
            <h1>Create flashcards!</h1>
            <br>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel turpis id libero aliquam condimentum eget vitae odio. Vivamus vulputate, turpis at sagittis finibus, tortor lectus dapibus nibh, non luctus quam elit vel lacus. Mauris ullamcorper mauris a arcu varius congue. Duis a nunc dapibus, vestibulum sapien nec, luctus magna. Praesent gravida sapien ac laoreet suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h2>
        </div>
        <div class="flashcard-example features-column">
            <h1>Example: Level 2 Chemistry</h1>
            <br>
            <a href="{{ url_for('flashcards') }}">
                <button type="button">Start Studying Now!</button>
            </a>
        </div>
    </div>
    <div class="quiz-features">
        <div class="quiz-info quiz-column">
            <h1>Transform Flashcards into a Quiz!</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel turpis id libero aliquam condimentum eget vitae odio. Vivamus vulputate, turpis at sagittis finibus, tortor lectus dapibus nibh, non luctus quam elit vel lacus. Mauris ullamcorper mauris a arcu varius congue. Duis a nunc dapibus, vestibulum sapien nec, luctus magna. Praesent gravida sapien ac laoreet suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</h2>
        </div>
        <div class="quiz-example quiz-column">
            <h1>Test yourself now</h1>
        </div>
    </div>
{% endblock %}