{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="flashcard-border">
        <h1>Level 2 Chemistry</h1>
        <div class="flashcard-container">
            <div class="flashcard" onclick="flipCard()">
                <p id="cardText">What is H2CO3?</p>
            </div>

            <div class="controls">
                <button onclick="prevCard()">Previous</button>
                <button onclick="nextCard()">Next</button>
            </div>
        </div>
    </div>
{% endblock %}